#first{
    // background: url('/img/first_section.png');
    background: url('/img/photo_6.jpg');
    background-repeat: no-repeat;
    height: 900px;
    width: 100%;
    background-position: 65% 0%;
}

#first .container{
    padding-top: 85px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img{
    cursor: pointer;
}

.fa-bars{
    font-size: 41px;
    cursor: pointer;
}

.first-section__content{
    font-family: 'Fira Sans', sans-serif;
    
    h1{
        margin-top: 200px;
        font-size: 72px;
    }

    p{
        font-size: 30px;
        line-height: 40px;
        span{
            font-weight: bolder;
        }
    }
}

@media(max-width: 960px){
    
    .first-section__content{
        h1{
            margin-top: 110px;
            font-size: 44px;
            text-align: center;
            color: white;
        }
        p{
            font-size: 25px;
            text-align: center;
            color: white;
        }
    }

    .second-section__left{
        margin-top: 5px;
    }

    .fa-bars{
        color: white;
    }

    .header img{
        cursor: pointer;
    }
    
    #first{
        background: #1D2F3B;
        height: 650px;

        .container{
            padding-top: 30px;
        }


    }

    
}

@media(max-width: 1250px){
    .container{
        width: 90%;
        margin: 0 auto;
    }
}

