#second{
    display: flex;
}

.second-section__left{
    flex: 1;
}

.second-section__right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.second-section__right h1{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Fira Sans', sans-serif;
    color: #4b4a4a;
    text-align: center;
}


.second-section__right p{
    font-size: 19px;
    text-align: center;
    line-height: 37px;
    font-weight: normal;
    font-family: 'Fira Sans', sans-serif;
    color: #666666;
}

.second-section__left img{
    width: 100%;
}

@media(max-width: 960px){
    #second{
        display: flex;
        flex-direction: column;
    }   
    
    .second-section__right{
        flex: 1;
        background: #1D2F3B;
        padding: 30px 0 30px 0;

        h1{
            text-align: center;
        }

        p{
            text-align: center;
        }
    }

    .second-section__content{
        h1{
            color: white;
        }

        p{
            color: white;
        }
    }
}
